<div class="container">
  <nav>
    <div class="nav-btn" data-target="p10"><span>Masters Project</span></div>
    <div class="nav-btn" data-target="skill"><span>Rotetris</span></div>
    <div class="nav-btn" data-target="contact"><span>Eggventures</span></div>
  </nav>
  
  <section class="data-container" data-container="p10">
    <h2>Masters project - ホーム</h2>    
    <div class="card">
      <p>test card</p>
    </div>
  </section>
  
  <section class="data-container" data-container="skill" style="display: none">
    <h2>Rotetris <small>- スキル</small></h2>
    <div class="nier-list">
      <ul class="">
        <li>test
          <p>test2</p></li>
        <li class="active">test</li>
        <li>test</li>
      </ul>
    </div>
  </section>
  
  <section class="data-container" data-container="contact" style="display: none">
      <h2>Eggventures <small>- お問い合わせ</small></h2>
</section>
  
</div>