<div class="container">
  <nav>
    <div class="nav-btn" data-target="home"><span>HOME</span></div>
    <div class="nav-btn" data-target="skill"><span>SKILL</span></div>
    <div class="nav-btn" data-target="contact"><span>CONTACT</span></div>
  </nav>
  
  <section class="data-container" data-container="home">
    <h2>Home - ホーム</h2>    
    <div class="card">
      <p>test card</p>
    </div>
  </section>
  
  <section class="data-container" data-container="skill" style="display: none">
    <h2>SKILL <small>- スキル</small></h2>
    <div class="nier-list">
      <ul class="">
        <li>test
          <p>test2</p></li>
        <li class="active">test</li>
        <li>test</li>
      </ul>
    </div>
  </section>
  
  <section class="data-container" data-container="contact" style="display: none">
      <h2>CONTACT <small>- お問い合わせ</small></h2>
</section>
  
</div>