/* You can add global styles to this file, and also import other style files */
:root {
--color-main: #4e493a;
--background-main: #beb89f;
}

.html {
    font-family: 'Raleway', sans-serif;
}

body{
    background: #ccc7b1;
    text-transform: uppercase;
}

.arrow-right {
    border-right: 20px solid lighten(var(--color-main), 10%); 
}

.line-border{
    &:before{
        content: '';
        border-left: 5px solid var(--background-main);
        margin-right: 15px;
        margin-left: 3px;
    }
    border-left: 15px solid var(--background-main);
}

.hover-class {
    cursor: pointer;
    background: var(--background-main);
    color: var(--color-main);
    &:hover {
        background: var(--color-main);
        color: var(--background-main);
        * {
            color: var(--background-main)
        }
    }
}

.card {
    background: #e4e0c0;
    color: var(--color-main);
    box-shadow: 2px 2px 0px 2px #a59e83;
    padding: 5px;
}

h1,h2,h3,h4,h5,h6 {
    color: var(--color-main);
    text-shadow: 5px 5px 0px rgba(146, 140, 126, 0.37);
    font-weight: 400;
    letter-spacing: 10px;
    opacity: .8;
    small {
        font-size: 50%;
    }
}
h1,h2 {
    font-size: 42px;
}
h2 {
    &:after{
        content: '_';
        animation: 4s blink infinite linear;
    }
}

p,span {
    color: var(--color-main);
}
.container {
    width: 95%;
    margin:auto
}


nav {
    display: flex;
    margin-top: 40px;
    margin-bottom: 60px;

    @extend .line-border;
    &:after {
        position:absolute;
        top: 90px;
        left: 0;
        content: '';
        width: 100%;
        border-bottom: 2px solid var(--color-main);
        opacity: .8;
    }


    div {
        flex: 1;
        background: var(--background-main);
        max-width: 150px;
        margin-right: 30px;
        opacity: .8;
        cursor: pointer;
        position: relative;
        &:hover {
            background: var(--color-main);
            span {
                color: var(--background-main);
            }
            &:before {
                content:":";
                position: absolute;
                left: -13px;
                top: calc(50% - 13px);
                font-size: 20px;
                font-weight: bold;
                color: var(--color-main);
            }
        }
        span {
            color: var(--color-main);
            display: inline-block;
            padding: 5px;
            font-size: 20px;
            padding: 5px;
            padding-left: 30px;
            position: relative;

            &:before {
                position: absolute;
                left: 5px;
                content:'◼︎';
                margin-right: 3px;
                vertical-align: middle;
                font-size: 24px; 
            }
        }
    }
}

.nier-list {
    &:before {
        content: '';
        border-left: 5px solid var(--background-main);
        margin-right: 15px;
        margin-left: 3px;
        position: absolute;
        height: 100%;
    }
    border-left: 15px solid var(--background-main);
    position: relative;
    ul {
        margin: 0;
        padding: 0;
        margin-left: 30px;
    }

    li {
        list-style: none;
        @extend .hover-class;
        margin-bottom: 30px;
        max-width: 30vw;
        padding: 5px;
        position: relative;
        &:hover {
            &:before {
                content:":";
                position: absolute;
                left: -16px;
                top:calc(50% - 12px);
                font-size: 20px;
                font-weight: bold;
                color: var(--color-main);
            }
        }

        &.active {
            position: relative;
            background: var(--color-main);
            color: var(--background-main);
            @extend .arrow-right;
        }
    }
}


@keyframes blink {
    0% {

    }
    50% {
        opacity: .5;
    }
}